@inherits LayoutComponentBase


<!-- START TOPBAR -->
<TopBar></TopBar>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid">

    <!-- SIDEBAR - START -->
    <SideBar></SideBar>
    <!--  SIDEBAR - END -->
        @Body
</div>
<!-- END CONTAINER -->
